/*-  BASE STYLES
----------------------------------------------------------------------*/
/* Used to highlight columns. */
/*.section .column {border-left:1px solid #a1b04a; border-bottom:1px solid #a1b04a; background:#f8f9f4;}
.section .column:last-child {border-right:1px solid #a1b04a;} */

article>h1 { margin-top: 36px; }
